@model IEnumerable<Contact.Managment.MVC.Models.CustomerVM>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Customers</h1>
<p>
    <a asp-action="Create">Create Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Bank Account Number
            </th>
            <th>
                Date Of Birth
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                @*<form  asp-action="Delete" asp-all-route-data="@item.Id"  method="post">
                            <button  type="submit" class="btn btn-link" onclick=" return confirm('Are You Sure To Delete Customer?')">
                                Delete
                            </button>
                        </form>*@
                    </td>
                </tr>
                }
                for
            </tbody>
        </table>
